# En la Etapa 3 aquí irán las URLs de tus compañeros
NEXT_PUBLIC_SELLER_API_URL=
NEXT_PUBLIC_SELLER_API_KEY=


#Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=


# Le decís a Clerk dónde está tu página de sign-in
NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=

# Después de loguearse, ¿a dónde redirige?
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=